@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
#letra{
    font-family:  'Source Serif Pro', serif;
    font-style:initial;
}

#pre-header {
    background-color: black;
    text-align: center;
    font-family:  'Source Serif Pro', serif;
    font-style:initial;
    color:lightgray;
}

#principal {
    background-image: url(./images/ojo5.jpeg);
    background-repeat: none; 
    background-position: 20% 40%;
    margin: 0.3%;
    color: lightgray;
    font-family:  'Source Serif Pro', serif;
    font-style: italic;
}

#footer2{
    background-color: black;
    font-family:  'Source Serif Pro', serif;
    font-style:initial;
    color: lightgray;
    text-align: center;
}

#marco{
    
    text-align: center;
    justify-content: center;
}